<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoom Clone</title>
    <script src="https://kit.fontawesome.com/845b7f6704.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script>
        let ROOMID="<%=roomid%>"
        console.log(ROOMID);
    </script>
    
</head>
<body>
<div class="main">

<div class="left">
    <div class="main-video">

        <div id="video-grid">
       
        </div>
    

    </div>
   
    <div  class="maincontrols">
            <div class="avbutton">
                <div onclick="muteunmute()" class="main-buttons mute">
                    <span><i class="fas fa-microphone"></i></span>
                    <span>Mute</span>
                </div>
                <div onclick="stopandplay()" class="main-buttons stop">
                    <span ><i class="fas fa-video"></i></span>
                    <span>Stop Video</span>
                </div>

            </div>
            <div class="security">
                <div class="main-buttons">
                    <span><i class="fas fa-share"></i></span>
                    <span id="share">Share</span>
                </div>
                <div class="main-buttons">
                    <span><i class="fas fa-user-friends"></i></span>
                    <span>Participants</span>
                </div>
                <div class="main-buttons">
                    <span><i class="fas fa-comment-alt"></i></span>
                    <span>Chat</span>
                </div>
                <div class="main-buttons">
                    <span><i class=""></i></span>
                    <span style="width: 10px;"><form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JUkqnsjy6YjQsf" async> </script> </form></span>
                </div>
            </div>
            <div style="border: 2px solid rgb(247, 36, 36); background: red; border-radius: 9px;" class="meeting">
               <a style="text-decoration: none;"  href=""><p style="color: white; font-weight:bolder">Leave Meeting</p></a> 
            </div>
           
    </div>

</div>
<div class="right">
    <div class="chat-header">
        <h3>chat</h3>
    </div>

    <div class="main-msg">
        <ul class="msgs">

        </ul>
    </div>
    <div class="msg-input">
        <input type="text" name="" id="inputmsg" placeholder="Type message here...">
    </div>
</div>

</div>





  


    <script src="script.js"></script>
</body>
</html>